#clock {
    display: flex;
    align-items: center;
    font-size: 60px;
    color: rgb(54, 118, 201);
    font-weight: bold;


}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

